@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #43a367;
  --black: #202020;
  --soft-black: #606060;
  --white: #ffffff;
  --soft-green: #e8ffee;
  --soft-grey: #c9e0cf;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.kanantre-kan {
  color: black;
  font-size: 32px;
  font-weight: 300;
}

.kanantre-antre {
  color: var(--primary);
  font-size: 32px;
  font-weight: 600;
}

.btn-outline {
  padding: 10px 25px;
  background-color: transparent;
  color: var(--primary);
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--primary);
  text-decoration: none;
}

.btn-outline:hover {
  color: var(--primary);
  border: 2px solid var(--primary);
}

.btn-login {
  padding: 10px 25px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--primary);
  text-decoration: none;
}

.btn-login:hover {
  color: var(--white);
}

.btn-signup {
  padding: 10px 25px;
  background-color: transparent;
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--primary);
  text-decoration: none;
}

.btn-signup:hover {
  color: var(--primary);
}

.btn-send {
  height: 60px;
  background-color: var(--primary);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.newsletter-field {
  height: 60px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

h1 {
  color: var(--black);
  font-size: 48px;
  font-weight: 600;
}

.h1-active {
  color: var(--primary);
  font-size: 48px;
  font-weight: 600;
}
